<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">

    <div th:include="navbar.html"></div>
    <a type="button" class="btn btn-success" href="/admin/add-news">Add news</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>TITLE</th>
            <th>CONTENT</th>
            <th>DETAIL</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="news:${newsList}">
            <td th:text="${news.title}">John</td>
            <td th:text="${news.content}">Doe</td>
            <td ><a th:href="@{edit-news(newsId=${news.newsId})}">More info  </a></td>
        </tr>

        </tbody>
    </table>


   </div>

</body>
</html>
